* {
    box-sizing: border-box;
}

body {
    font-family: 'Permanent Marker', cursive;
    margin: 0px auto;
    width: 500px;
    text-align: center;
}

h1 {
    font-weight: bold;
    color: #f64f4f;
    text-shadow: rgb(0, 0, 0) 2px 2px;
    font-size: 3em;
}

.bold {
    font-weight: bold;
}

p {
    max-width: 600px;
}

.screen {
    width: 80%;
    margin: 0 auto;
}

.controls {
    margin-top: 5px;
    height: 100px;
}

.panel {
    clear: both;
}

.top .left {
    border: 15px solid rgb(74, 74, 74);
    width: 250px;
    float: left;
    height: 250px;
    border-radius: 50% 0% 0% 0%;
    background-color: rgb(0, 123, 82);
}

.top .right {
    border: 15px solid rgb(74, 74, 74);
    width: 250px;
    float: left;
    height: 250px;
    border-radius: 0% 50% 0% 0%;
    background-color: rgb(119, 0, 0);
}

.bottom .left {
    border: 15px solid rgb(74, 74, 74);
    width: 250px;
    float: left;
    height: 250px;
    border-radius: 0% 0% 0% 50%;
    background-color: rgb(162, 133, 0);
}

.bottom .right {
    border: 15px solid rgb(74, 74, 74);
    width: 250px;
    float: left;
    height: 250px;
    border-radius: 0% 0% 50% 0%;
    background-color: rgb(0, 54, 168);
}

/*
.bottom .right:hover{
    background-color: rgba(222, 29, 29, 0.54);
    box-shadow: #1c0000 0px -20px 0px 0px inset;
    animation: all 4.5s;
}*/
.center {
    clear: both;
    border: 15px solid rgb(74, 74, 74);
    width: 300px;
    height: 300px;
    border-radius: 50% 50% 50% 50%;
    margin: 95px 100px;
    position: absolute;
    background: lightgray;
}

.top .dail.left.active {
    transition: 1s all;
    background: rgb(0, 255, 171);
}

.top .dail.right.active {
    transition: 1s all;
    background: rgb(255, 0, 0)
}

.bottom .dail.left.active {
    transition: 1s all;
    background: rgb(255, 210, 0);
}

.bottom .dail.right.active {
    transition: 1s all;
    background: rgb(0, 81, 255);
}

/*
.top .right:hover {
    background-color: #b40101;
}
.top .left:hover {
    background-color: #01b479;
}
.bottom .right:hover {
    background-color: #013ab4;
}
.bottom .left:hover {
    background-color: #b49401;
}
*/
main {
    clear: both;
}

.board {
    height: 500px;
    overflow: hidden;
}

form {
    margin-bottom: 25px;
    padding: 15px;
    background-color: cyan;
    display: inline-block;
    width: 100%;
    max-width: 340px;
    border-radius: 3px;
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 5px 5px 5px 17px;
    width: 80px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    background: rgb(66, 52, 52);
    font-size: 2em;
    color: crimson;
    letter-spacing: 12px;
    font-family: monospace;
    text-align: center;
    font-weight: bold;
}

button {
    font-size: 16px;
    border-radius: 3px;
    background-color: lightgrey;
    border: 1px solid grey;
    box-shadow: 2px 2px teal;
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
}

button:active {
    box-shadow: none;
}

li {
    margin-bottom: 5px;
}

footer {
    border-top: 1px solid lightgrey;
}

a {
    color: #BBBBBB;
}

.nicejob {
    text-decoration: line-through;
}

button.on, #state.on {
    background-color: yellow;
    color: #f64f4f;
    text-shadow: #ffffff 0px 1px 3px;
    font-weight: bold;
    transition: all 0.0s;
}

#state {
    color: grey;
}

label {
    font-size: 2em;
    line-height: 3em;
}

.notice {
    font-family: monospace;
    color: crimson;
    font-size: 1.5em;
}

.notice.info {
    color: blue;
    font-size: 1.5em;
}
